.idea
application/.composer
application/cache/*
application/log/*
application/session/*
application/templates_c/*
application/clearTmpFiles.sh
application/composer.lock
application/library/MVC/phanlistcreate.sh
CliDialogue
modules/*
public/.env
_createPhar.php
_generateDataTypes.php
_push.sh
**/*.min.css
**/*.min.js