application/cache/*
application/log/*
application/session/*
application/templates_c/*
application/vendor/*
application/clearTmpFiles.sh
CliDialogue
modules/*
public/.env
_createPhar.php
_createMVCDataTypes.php
_push.sh
#**/*.min.css
#**/*.min.js
