.git
.idea
.trash
.env
application/.composer
application/cache/*
application/log/*
application/session/*
application/templates_c/*
application/composer.lock
application/library/MVC/*.tar.gz
application/vendor
application/library/MVC/DataType/_datatype.php
application/library/MVC/DataType/.trash
application/library/MVC/DataType/test
gen
*.tar.gz
vendor
modules/*
public/.env
public/openapi
public/api
_gitPull.sh
_gitPush.sh
_gitPush.sh.example
_phanlistcreate.sh
_curl.php
Changelog.md
myMVC
**/*.min.css
**/*.min.js