#myMvcToolbar {/* div */
    position: fixed !important;
    bottom: 0px !important;
    /*left: px !important;*/
    font-family: monospace, monospace;
    display: none;
    z-index: 9999999999 !important;
}
.myMvcToolbar_shrink {left: -657px;}
.myMvcToolbar_expand {left: 0px;}

#myMvcToolbar * {
    box-sizing: unset !important;
}
#myMvcToolbar navi label, #myMvcToolbar figure {
    font-size: 12px;
    box-sizing: unset !important;
}
#myMvcToolbar_head {/* div */
    position: fixed;
    bottom: 43px !important;
    /*left: 0px !important;*/
    min-width: 600px;
    font-size: 12px;
    z-index: -1;
}
#myMvcToolbar_head span {
    font-family: monospace, monospace;
    font-size: 10px;
    background-color: antiquewhite;
}
figure h1,figure h2, figure h3, figure h4, figure h5, figure h6 {
    font-family: monospace, monospace !important;
    border-bottom: 1px solid silver;
}
figure h6 {
    font-weight: bold;
}
pre.prettyprint {
    font-size: 12px !important;
}
.myMvcToolbar-float-right {
    float: right;
}
.myMvcToolbar-tree {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    hyphens: auto !important;
}
.myMvcToolbar-bg-info {
    background-color: darkgray !important;
}
.myMvcToolbar-bg-primary {
    background-color: hsl(210,50%,50%) !important;
    border-radius: 3px;
    color: white !important;
    padding: 2px;
}
.myMvcToolbar-bg-warning {
    background-color: orangered !important;
    color: white !important;
}
.myMvcToolbar-bg-danger {
    background-color: darkred !important;
    color: white !important;
}
.myMvcToolbar-bg-kbd {
    background-color: #333 !important;
    border-radius: 3px;
    color: white !important;
    padding: 10px;
}
.myMvcToolbarBlink {
    animation: myMvcToolbarBlink 1s steps(5, start) infinite;
    -webkit-animation: myMvcToolbarBlink 1s steps(5, start) infinite;
}
@keyframes myMvcToolbarBlink {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes myMvcToolbarBlink {
    to {
        visibility: hidden;
    }
}
/*******************************************************************/

#myMvcToolbar figure {
    display: block;
    clear: both;
}

#myMvcToolbar > input,
#myMvcToolbar figure > div {
    height: 100%;
    display: none;
}

#myMvcToolbar figure > div {
    width: 100%;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    color: #333;
    background-color: transparent;
    margin: 0 0 125px 0px;
}

navi label:nth-child(1) { border-left: 1px solid silver; }
navi label:hover { background: hsl(210,50%,40%); }
navi label:active { background: whitesmoke; }

navi label {
    float: left;
    padding: 15px 15px;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    background: hsl(210,50%,50%);
    color: #eee;
    cursor: pointer;
    margin: 0;
    font-size: 16px;
    line-height: 1;
}

/**
 main menu
 */
.tab1, .tab2, .tab3, .tab4, .tab6, .tab7, .tab8 {height: 600px !important;}
/*.tab7 {height: 300px !important;}*/
.tab5 {height: 100px !important;}
.tab8 {height: 600px !important;}

/**
 sub menu
 */
#myMvcToolbar figure div input {
    height: 100%;
    display: none;
}
#myMvcToolbar figure div figure {
    display: block;
    width: 800px;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .15);
    overflow: auto;
    background-color: whitesmoke;
}
